@import "@/styles/index.module.scss";

.crew_box {
  border: none;
  border-top: $primary solid 1px;
  border-bottom: $primary solid 1px;
  overflow: hidden;
  .crew_grid {
    display: grid;
    padding: 0 4px;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 12px;

    @include media(">tablet") {
      font-size: 14px;
    }
  }
}

.middle_crew_box {
  border: none;
  overflow: hidden;
  .crew_grid {
    display: grid;
    padding: 0 4px;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 12px;

    @include media(">tablet") {
      font-size: 14px;
    }
  }
}
