@import "@/styles/index.module.scss";

.searched_container {
  padding: 12px;

  .title_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;

    @include media(">tablet") {
      padding: 20px;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
