@import "@/styles/index.module.scss";

.movie_article_container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie_article_detail_information {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(">desktop") {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
