// theme colors
$primary: #0f4c75 !default;
$secondary: #bbe1fa !default;
$error: #d32752 !default;
$info: #eb5b00 !default;
$muted: #9c9b9b !default;
$primaryBg: #1b262c !default;
$border: #3282b8 !default;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "black": black,
  "white": white,
  "outline": #3282b800,
);

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;
$rounded-radius: 50% !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font size
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
