@import "@/styles/index.module.scss";

.top_nav_container {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 5;
  color: white;

  .icon {
    font-size: 20px;
  }

  .right_box {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      width: 20px;
      height: 20px;

      &:hover > .icon {
        color: $secondary;
      }
    }

    .search_button {
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &:hover > .icon {
        color: $secondary;
      }
    }
  }
}
