@import "@/styles/index.module.scss";

.accordion_box {
  border: none;
  .collapse_button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;

    @include media(">tablet") {
      font-size: 14px;
    }

    &:hover > .title {
      color: $secondary;
    }

    .icon {
      font-size: 20px;
    }
  }

  .collapse_button:hover {
    background-color: rgb(187, 225, 250, 0.25);
  }
}
