@import "@/styles/index.module.scss";

.ratings_container {
  display: flex;

  .rating_box {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;

    .icon {
      font-size: 28px;

      @include media(">tablet") {
        font-size: 36px;
      }
    }

    .rating_value {
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        font-size: 14px;

        @include media(">tablet") {
          font-size: 22px;
        }
      }
    }
  }
}
