@import "@/styles/index.module.scss";

.movie_article_container {
  display: flex;
  gap: 10px;

  .movie_poster_box {
    position: relative;
    min-height: 189px;
    max-height: 189px;
    min-width: 128px;
    max-width: 120px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    @include media(">tablet") {
      min-height: 300px;
      max-height: 300px;
      max-width: 200px;
      min-width: 200px;
    }
    @include media(">desktop") {
      min-height: 420px;
      max-height: 420px;
      max-width: 280px;
      min-width: 280px;
    }
  }

  .movie_information {
    .movie_genres {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      p {
        font-size: 12px;
        color: black;

        @include media(">tablet") {
          font-size: 14px;
        }
      }
    }

    .movie_plot_box {
      margin-top: 10px;
      p {
        line-height: 22px;
        font-size: 12px;
        @include media(">tablet") {
          font-size: 14px;
        }
      }
    }
  }
}
